streamlit>=1.26.0
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-experimental==0.3.4
langchain-google-genai==2.0.8
langchain-ollama==0.2.2
langchain-openai==0.2.14
langchain-text-splitters==0.3.4
